.review{
    background: radial-gradient(circle, rgba(85,170,176,1) 0%, rgba(133,176,179,1) 100%);
    box-shadow: 10px 10px 10px 2px rgba(0,0,0,0.75);
}
.main-body {
    background-color: #FFFF99;
}

.review p {
    margin: auto 0;
    color: #1003ff;
    text-shadow: 5px 4px 2px #b28722;
    /* font-size: 90px; */
}

